.pho-col{
    background-color: sienna;
    height: 900px;
}

#pho-gal{
    background-color: bisque;
    height: 900px;
}

.pho-sm{
    width: 100%;
    height: 380px;
    background-color: rgb(221,200,190);
    margin-top: 20px;
    overflow: hidden;
}

.pho-big{
    width: 100%;
    height: 480px;
    background-color: rgb(158,118,99);
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width:575px){
    .video{
        margin-top: 20;
        width: 100%;
        height: 400px;
    }
}

@media (min-width:767px){
    .video{
        margin-top: 20;
        width: 100%;
        height: 600px;
    }
}

@media (min-width:991px){
    .video{
        margin-top: 20;
        width: 100%;
        height: 800px;
    }
}